html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-size: 100%;
  background-color: #1b1b1b;
  font-family: "Catamaran", sans-serif;
  color: #313030;
  font-size: 1.2vw;
}


/* menu na gorze */
#menu {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #c4b4ab;
  z-index: 100;
}


/* czarne i białe sekcje */
.dark {
  color: #EDFFFF; 
}

.Light {
  padding: 6vw;
  background-color: #f7e4d8;
}


/* boxy za tekstami */
nav {
  background-color: #EDFFFF;
  padding: 2vw;
}

.header-container-text {
  margin-top: 200px;
  background-color: #f7e4d8;
  padding: 7vw;
  width: 100vw;
}


/*sekcje*/
#main, #organisation {
  height: 120vh;
  width: 100vw;
}

.AboutImg {
  width: 35vw;
}

#organisation svg{
 border: 2px solid #EDFFFF;
 border-radius: 50%;
 padding: 2vw;
}

#headline {
  font-weight: bold;
  color: #000000;
}

footer {
  font-size: 15px;
}

#contact {
  text-align: center;
  height: 70vh;
}


/* kolor większych tekstów */
h2, h3 {
  color: #000000;
}


/* bold */
.bold {
  font-weight: bold;
}

/* wyzerowanie kropek */
li {
  list-style-type: none;
}

/* kolor linków */
a {
  text-decoration: none;
  color: #313030;
}


/* narzezdzanie */
a:hover {
  color: #000000;
}

.underline:hover {
  text-decoration: underline;
}

.bigger:hover {
  font-size: 19.5 px;
}


/* fulle */
.fullVerticalSize {
  height: 84vh;
  position: relative;
}

.fullVerticaCenter {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* interlinia */
.textInt {
  line-height: 3vw;
}

/* padding */
.padding50 {
  padding: 5vw;
}

.padding20 {
  padding-top: 2vw;
}

.padding-0 {
  padding: 0;
}


/* wyjustowanie tekstu */
.textJust {
  text-align: justify;
  padding-top: 3vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

/* tekst na srodku */
.textCenter {
  text-align: center;
}


/* grid layout */
.grid-container-2 {
  display: grid;
  grid-template-columns: auto auto;
  padding: 3vw;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1vw;
}

.grid-container-7 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.grid-item {
  text-align: center;
  align-self: center;
}

.img-grid-2 {
  width: 100%;
}


/* cytaty ustawienie*/
.quote {
 height: 65vh;
 padding: 4vw;
}


/* dostosowanie lewa prawa */
.LeftJust {
  text-align: left;
}

.RightJust {
  text-align: right;
}


/* bordery */
.border {
  border: 4px solid #313030;
}
.border1 {
  border: 1px solid #1d1c1c;
}


/* rameczka za zdjeciem */
.aboutImage {
  position: relative; /* Kontekst dla pseudoelementu */
}
.aboutImage:before {
  content: "";
  border: 1.5vw solid #313030;
  position: absolute;
  bottom: -45px;
  left: -25px;
  width: 55%;
  height: 125%;
  box-sizing: border-box;
  z-index: -1; /* Poprawiona wartość */
}

.slaidsWidth {
  width: 40vw;
}

.top {
  padding-top: 20vw;
}
