html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-size: 100%;
  background-color: #1b1b1b;
  font-family: "Catamaran", sans-serif;
  color: #313030;
  font-size: 23px;
}


/* menu na gorze */
#menu {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #c4b4ab;
  z-index: 100;
}


/* czarne i białe sekcje */
.dark {
  color: #EDFFFF; 
}

.Light {
  padding: 50px;
  background-color: #f7e4d8;
}


/* boxy za tekstami */
nav {
  background-color: #EDFFFF;
  padding: 20px;
}

.header-container-text {
  margin-top: 200px;
  background-color: #f7e4d8;
  padding: 100px;
}


/*sekcje*/
#main, #organisation {
  height: 90vh;
}

#organisation svg{
 border: 2px solid #EDFFFF;
 border-radius: 50%;
 padding: 25px;
}

#headline {
  font-weight: bold;
  color: #000000;
}

footer {
  font-size: 15px;
}

#contact {
  text-align: center;
  height: 70vh;
}


/* kolor większych tekstów */
h2, h3 {
  color: #000000;
}


/* bold */
.bold {
  font-weight: bold;
}

/* wyzerowanie kropek */
li {
  list-style-type: none;
}

/* kolor linków */
a {
  text-decoration: none;
  color: #313030;
}


/* narzezdzanie */
a:hover {
  color: #000000;
}

.underline:hover {
  text-decoration: underline;
}

.bigger:hover {
  font-size: 19.5px;
}


/* fulle */
.fullVerticalSize {
  height: 84vh;
  position: relative;
}

.fullVerticaCenter {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* interlinia */
.textInt {
  line-height: 50px;
}

/* padding */
.padding50 {
  padding: 50px;
}

.padding20 {
  padding-top: 20px;
}

.padding-0 {
  padding: 0;
}


/* wyjustowanie tekstu */
.textJust {
  text-align: justify;
  padding-top: 60px;
  padding-left: 100px;
  padding-right: 100px;
}

/* tekst na srodku */
.textCenter {
  text-align: center;
}


/* grid layout */
.grid-container-2 {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-container-7 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.grid-item {
  text-align: center;
  align-self: center;
}

.img-grid-2 {
  width: 100%;
}


/* cytaty ustawienie*/
.quote {
 height: 65vh;
 padding: 60px;
}


/* dostosowanie lewa prawa */
.LeftJust {
  text-align: left;
}

.RightJust {
  text-align: right;
}


/* bordery */
.border {
  border: 4px solid #313030;
}
.border1 {
  border: 1px solid #1d1c1c;
}


/* rameczka za zdjeciem */
.aboutImage {
  position: relative; /* Kontekst dla pseudoelementu */
}
.aboutImage:before {
  content: "";
  border: 20px solid #313030;
  position: absolute;
  bottom: -45px;
  left: -25px;
  width: 350px;
  height: 550px;
  box-sizing: border-box;
  z-index: -1; /* Poprawiona wartość */
}

.slaidsWidth {
  width: 900px;
}
